<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Form Tambah Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie Flower">

</head>
<body>
<div class="container">
<div>
    <div style="padding-top:15px; margin-left:10px;">
    <h3 class="text-center" style="font-family:Indie Flower">Tambah Data Mahasiswa</h3>
    </div>
    <div style="margin-left:10px">
        <form action="#" th:action="@{/simpan}" th:object="${data}" method="post">
            <div class="form-group">
                <label for="nim">Nim</label>
                <input type="text" class="form-control" id="nim" th:field="*{nim}"  placeholder="Masukan Nim">
            </div>
            <div class="form-group">
                <label for="nama">Nama</label>
                <input type="text" class="form-control" id="nama" th:field="*{nama}"placeholder="Another input">
            </div>
            <div class="form-group">
                <label for="jurusan">Jurusan</label>
                <input type="text" class="form-control" id="jurusan" th:field="*{jurusan}"  placeholder="Masukan Nim">
            </div>
            <div class="form-group">
                <label for="alamat">Alamat</label>
                <input type="text" class="form-control" id="alamat" th:field="*{alamat}"placeholder="Masukan Alamat">
            </div>
            <td><input type="submit" value="Simpan" class="btn btn-info"></td>
        </form>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</body>
</html>